/*---- Footer Start-----*/
footer {
  background-color: #69affe;
  width: 100%; }

.follow1 {
  list-style-type: none;
  text-align: center; }

.follow1 li {
  display: inline; }

.follow1 i {
  font-size: 250%;
  padding: 1rem 4%;
  color: rgba(255, 255, 255, 0.7); }

.follow1 i:hover {
  color: #fff; }

footer ul {
  margin: 0;
  padding: 0; }

footer.socket {
  border-top: 1px solid #aadcd2;
  background-color: #08627d;
  max-height: 55px;
  margin: 0; }

footer.socket p {
  margin: 0;
  padding: 0.5rem 0;
  text-align: center;
  color: #aadcd2; }

nav {
  color: white !important; }

.jumbotron {
  background-color: #ffffff !important; }

.jumbotron img {
  max-height: 300px;
  width: 20%;
  border: rgba(131, 131, 131, 0.18) solid 2px !important;
  border-top: rgba(131, 131, 131, 0.18) solid 1px !important;
  margin-top: -20px !important; }

.btn {
  border-bottom: solid rgba(75, 75, 75, 0.18) 2px !important; }

.tools ul, li {
  border: none !important;
  font-weight: 600; }

section .langicon {
  top: -4px !important; }
