.jumbotron {
  background-color: #ffffff !important; }

.jumbotron img {
  max-height: 300px;
  width: 20%;
  border: rgba(131, 131, 131, 0.18) solid 2px !important;
  border-top: rgba(131, 131, 131, 0.18) solid 1px !important;
  margin-top: -20px !important; }

.btn {
  border-bottom: solid rgba(75, 75, 75, 0.18) 2px !important; }

section .card-header h4 {
  margin: 0; }

.skills ul, .skills li {
  border: none !important;
  font-weight: 600;
  padding: 0.8rem 0 !important; }

section .langicon {
  top: -4px !important; }
