:root {
  --primary: #ddd;
  --dark: #222;
  --light: #fff;
  --shadow: 0 1px 4px rgba(104, 104, 104, 0.7);
  --divbody: #fff; }

.showcase1, .showcaseTxt, .showcaseTxt2 {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.showcaseTxt h1, .showcaseTxt2 h1 {
  font-size: 4rem; }

.showcaseTxt h5, .showcaseTxt2 h5 {
  margin-top: 0; }

.box, .box1 {
  text-align: center;
  box-shadow: 0 1px 5px rgba(44, 44, 44, 0.25);
  position: relative; }

.box h3, .box1 h3 {
  width: 100%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0; }

.box i, .box1 i, .box1 img, .box1 h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 72px;
  margin: 0;
  padding: 0; }

/* Grid Wrap */
.gridWrap img {
  max-width: 100%; }

.gridWrap {
  display: grid;
  grid-gap: 50px; }

/* Frontend Grid*/
.frotend {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr); }

/* showcase1 carousel */
.showcase1 {
  grid-column: span 3;
  grid-row: span 2;
  min-height: 250px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 1px 5px rgba(44, 44, 44, 0.25); }

.showcaseTxt, .showcaseTxt2 {
  align-items: start;
  padding: 3rem;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%; }

.showcaseTxt h1, .showcaseTxt2 h1 {
  color: var(--light); }

.showcaseTxt h5, .showcaseTxt2 h5 {
  color: var(--light); }

.showcaseTxt .btn, .showcaseTxt2 .btn {
  margin-top: 10px;
  animation: pulse_w 3s ease-in-out infinite; }

@keyframes pulse_w {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); }
  50% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7); }
  100% {
    -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0); } }

.showcaseImg img {
  opacity: 0.4; }

/* Boxes Front-end*/
.box {
  grid-column: span 1;
  background: var(--divbody); }

.box i {
  color: #0b88ad; }

i.icon-javascript-alt {
  font-size: 92px;
  transform: translate(calc(-50% + 9px), -15px); }

i.icon-nodejs {
  font-size: 88px;
  transform: translate(calc(-50% + 8px), -6px); }

i .icon-css3-alt,
i .icon-html5-alt {
  transform: translateX(calc(-50% + 4px)); }

.fullstack {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "b1 s2 s2 s2" "b2 s2 s2 s2" "b3 b4 b5 b5"; }

.showcase2 {
  grid-area: s2;
  min-height: 250px;
  box-shadow: 0 1px 5px rgba(44, 44, 44, 0.25);
  padding: 0;
  margin-bottom: -20px; }

.showcaseTxt2 {
  align-items: flex-end;
  position: relative;
  background: url("../img/fullstackShowcase.png");
  background-size: cover;
  background-position: center; }

.showcaseTxt2 h1 {
  color: rgba(0, 0, 0, 0.8); }

.showcaseTxt2 h5 {
  color: rgba(0, 0, 0, 0.8); }

.showcaseTxt2 .btn {
  margin-top: 10px;
  animation: pulse_b 3s ease-in-out infinite; }

@keyframes pulse_b {
  0% {
    -moz-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent; }
  50% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6); }
  100% {
    -moz-box-shadow: 0 0 0 10px transparent;
    box-shadow: 0 0 0 10px transparent; } }

/* Boxes Full Stack*/
#b1 {
  grid-area: b1; }

#b2 {
  grid-area: b2; }

#b3 {
  grid-area: b3; }

#b4 {
  grid-area: b4; }

#b5 {
  grid-area: b5; }

.box1 {
  background: var(--dark);
  color: white; }

.box1 i {
  color: #69affe; }

.box1 img {
  height: 72px;
  transform: translate(-50%, 18px); }

.box1 h1 {
  color: #69affe;
  font-size: 64px;
  transform: translate(-50%, 18px); }

/* Media Queries */
@media (max-width: 991px) {
  .frotend {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr); }
  .fullstack {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "s2 s2 s2" "s2 s2 s2" "b1 b5 b5" "b2 b3 b4"; } }

@media (max-width: 767px) {
  .frotend {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr); }
  .fullstack {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "s2 s2" "b5 b5" "b1 b2" "b3 b4"; }
  .showcase1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1; }
  .showcaseTxt h1, .showcaseTxt2 h1,
  .showcaseTxt2 h1 {
    font-size: 2.5rem; }
  .showcase2 {
    margin: 0; } }

#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.layer {
  position: absolute;
  height: 100%;
  overflow: hidden; }

.layer .content-wrap {
  position: absolute;
  height: 100%; }

.layer .content-body {
  width: 25%;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  color: #222; }

.layer img {
  position: absolute;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.layer p {
  padding: 0 5px; }

.bottom {
  background: #fff;
  z-index: 1; }

.bottom .content-body {
  right: 5%; }

.bottom h2 {
  color: #0b88ad; }

.top {
  background: #222;
  z-index: 2;
  width: 50vw; }

.top .content-body {
  left: 5%;
  color: #fff; }

.top h2 {
  color: #69affe; }

.handle {
  position: absolute;
  display: block;
  background-color: #3794fd;
  height: 200%;
  width: 5px;
  top: -50%;
  left: 50%;
  transform: rotate(30deg);
  z-index: 3; }

.skewed .top {
  transform: skew(-30deg);
  margin-left: -500px; }

.skewed .top .content-wrap {
  transform: skew(30deg);
  margin-left: 500px; }
