:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 4px rgba(104, 104, 104, 0.7);
  --divbody: rgb(241,241,241); }

.gridWrap img {
  max-width: 100%; }

.gridWrap {
  display: grid;
  grid-gap: 20px; }

/* Top Container */
.frotend {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 'showcase showcase top-box-a' 'showcase showcase top-box-b'; }

/* Showcase carousel */
.showcase {
  grid-area: showcase;
  min-height: 400px;
  background-color: #222;
  box-shadow: var(--shadow); }

.carousel img {
  opacity: 0.65; }

.showcaseImg {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.showcaseImg h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: var(--light); }

.showcaseImg p {
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--light); }

/* Top Box */
.top-box {
  background: var(--divbody);
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow);
  padding: 1.5rem; }

.top-box .price {
  font-size: 2.5rem; }

.top-box-a {
  grid-area: top-box-a; }

.top-box-b {
  grid-area: top-box-b; }

/* Boxes */
.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); }

.box {
  background: var(--divbody);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow); }

/* Info */
.info {
  background: var(--divbody);
  box-shadow: var(--shadow);
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem; }

/* Media Queries */
@media (max-width: 991px) {
  .frotend {
    grid-template-areas: 'showcase showcase' 'top-box-a top-box-b'; }
  .showcaseImg h1 {
    font-size: 2.5rem; }
  .main-nav ul {
    grid-template-columns: 1fr; }
  .info {
    grid-template-columns: 1fr; }
  .info .btn {
    display: block;
    text-align: center;
    margin: auto; } }

@media (max-width: 500px) {
  .frotend {
    grid-template-areas: 'showcase' 'top-box-a' 'top-box-b'; } }

.navbar-brand .lead {
  font-size: 80%; }

#wrapper {
  position: relative;
  width: 100%;
  min-height: 20vw;
  overflow: hidden; }

.layer {
  position: absolute;
  min-height: 20vw;
  overflow: hidden; }

.layer .content-wrap {
  position: absolute;
  min-height: 20vw; }

.layer .content-body {
  width: 25%;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  color: #222; }

.layer img {
  position: absolute;
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.layer h1 {
  font-size: 2em; }

.bottom {
  background: #fff;
  z-index: 1; }

.bottom .content-body {
  right: 5%; }

.bottom h1 {
  color: #08627d; }

.top {
  background: #222;
  z-index: 2;
  width: 50vw; }

.top .content-body {
  left: 5%;
  color: #fff; }

.top h1 {
  color: #69affe; }

.handle {
  position: absolute;
  display: block;
  background-color: #3794fd;
  height: 200%;
  width: 5px;
  top: -50%;
  left: 50%;
  transform: rotate(30deg);
  z-index: 3; }

.skewed .top {
  transform: skew(-30deg);
  margin-left: -500px; }

.skewed .top .content-wrap {
  transform: skew(30deg);
  margin-left: 500px; }

@media (max-width: 1920px) {
  #wrapper, .layer, .content-wrap {
    height: 385px; } }

@media (max-width: 1200px) {
  #wrapper, .layer, .content-wrap {
    height: 349px; } }

@media (max-width: 991px) {
  body {
    font-size: 75%; }
  #wrapper, .layer, .content-wrap {
    height: 301px !important; } }

@media (max-width: 767px) {
  #wrapper, .layer, .content-wrap {
    height: 265px !important; } }

@media (max-width: 575px) {
  #wrapper, .layer, .content-wrap {
    height: 248px !important; } }
