@import 'variables';

:root {
    --primary: #ddd;
    --dark: #222;
    --light: #fff;
    --divbody: #fff;
}
  
%flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

%sc_h1{
  font-size: 4rem;
  // margin-bottom: 0;
}

%sc_p{
  margin-top: 0;
}

%box{
    text-align: center;
    box-shadow: $shadow;
    position: relative;
  }

%box_h3{
  width: 100%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  // margin: 0;
  // padding: 0;
}

%box_i{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 72px;
  // margin: 0;
  // padding: 0;
}


/* Grid Wrap */
.gridWrap img {
  max-width: 100%;
}

.gridWrap {
  display: grid;
  grid-gap: 50px;
}

/* Frontend Grid*/
.frotend {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

/* showcase1 carousel */
.showcase1 {
  @extend %flex;
  grid-column: span 3;
  grid-row: span 2;
  min-height: 250px;
  background-color: $blackl;
  box-shadow: $shadow;
}

.showcaseTxt{
  @extend %flex;
  align-items: start;
  padding: 3rem;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.showcaseTxt h1 {
  @extend %sc_h1;
  color: var(--light);
}

.showcaseTxt h5 {
  @extend %sc_p;
  color: var(--light);
}
.showcaseTxt .btn{
  margin-top: 10px;
  animation: pulse_w 3s ease-in-out infinite;
}

@keyframes pulse_w {
  0% {
    -moz-box-shadow: 0 0 0 0 $whited3;
    box-shadow: 0 0 0 0 $whited3;
  }
  50% {
    -moz-box-shadow: 0 0 0 0 $whited;
    box-shadow: 0 0 0 0 $whited;
  }
  100% {
      -moz-box-shadow: 0 0 0 10px $whited3;
      box-shadow: 0 0 0 10px $whited3;
  }
}

.showcaseImg img{
  opacity:0.4;
}

/* Boxes Front-end*/

.box {
  @extend %box;
  grid-column: span 1;
  background: var(--divbody);
}

.box i{
  @extend %box_i;
  color: $prim;
}

.box h3{
  @extend %box_h3;
}

// because of fizz icons specifics different translation and size
i.icon-javascript-alt{
  font-size: 92px;
  transform: translate(calc(-50% + 9px), -15px);
}

// because of fizz icons specifics different translation and size
i.icon-nodejs{
  font-size: 88px;
  transform: translate(calc(-50% + 8px), -6px);
}

i.icon-css3-alt,
i.icon-html5-alt{
  transform: translateX(calc(-50% + 4px));  
}


// FULL STACK

.fullstack {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
        "b1 s2 s2 s2"
        "b2 s2 s2 s2"
        "b3 b4 b5 b5";
}

.showcase2 {
  // @extend %flex;
  grid-area: s2;
  min-height: 250px;
  box-shadow: $shadow;
  padding: 0;
  margin-bottom: -20px;
}

.showcaseTxt2{
  @extend .showcaseTxt;
  align-items: flex-end;
  position: relative;
  background: url("../img/fullstackShowcase.png");
  background-size: cover;
  background-position: center;
}

.showcaseTxt2 h1{
  @extend %sc_h1;
  color: $blackl;
}
.showcaseTxt2 h5{
  @extend %sc_p;
  color: $blackl;
}

.showcaseTxt2 .btn{
  margin-top: 10px;  
  animation: pulse_b 3s ease-in-out infinite;
}

@keyframes pulse_b {
  0% {
    -moz-box-shadow: 0 0 0 0 $blackl2;
    box-shadow: 0 0 0 0 $blackl2;
  }
  50% {
    -moz-box-shadow: 0 0 0 0 $blackl1;
    box-shadow: 0 0 0 0 $blackl1;
  }
  100% {
      -moz-box-shadow: 0 0 0 10px $blackl2;
      box-shadow: 0 0 0 10px $blackl2;
  }
}

/* Boxes Full Stack*/

#b1{  grid-area: b1;}
#b2{  grid-area: b2;}
#b3{  grid-area: b3;}
#b4{  grid-area: b4;}
#b5{  grid-area: b5;}

.box1 {
  @extend %box;
  background: var(--dark);
  color: white;
}

.box1 i{
  @extend %box_i;
  color: $infl;
}

.box1 img{
  @extend %box_i;
  height: 72px;
  // because of fizz icons specifics different translation
  transform: translate(-50%, 18px); 
}

.box1 h1{
  @extend %box_i;
  color: $infl;
  font-size: 64px;
  // because of fizz icons specifics different translation
  transform: translate(-50%, 18px); 
}

.box1 h3{
  @extend %box_h3;
}

.box1 .btn{
  @extend %box_h3;
  width: auto;
  animation: pulse_w 3s ease-in-out infinite;
}



/* Media Queries */
@media (max-width: 991px) {
  .frotend {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .fullstack {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
          "s2 s2 s2"
          "s2 s2 s2"
          "b1 b5 b5"
          "b2 b3 b4";
  }

}

@media (max-width: 767px) {
  .frotend {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .fullstack {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
          "s2 s2"
          "b1 b2"
          "b3 b4"
          "b5 b5";
  }  
  
  .showcase1{
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }

  .showcaseTxt h1,
  .showcaseTxt2 h1 {
    font-size: 2.5rem;
  }

  .showcase2{
    margin:0;
  }
}
