@import 'variables';

:root {
    --primary: #ddd;
    --dark: #222;
    --light: #fff;
    --shadow: 0 1px 4px rgba(104, 104, 104, 0.7);
    --divbody: #fff;
}
  
%flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

%sc_h1{
  font-size: 4rem;
  margin-bottom: 0;
}

%sc_p{
  font-size: 1.5rem;
  margin-top: 0;
}

%box{
    text-align: center;
    padding: 1.5rem 1rem;
    box-shadow: var(--shadow);
  }

/* Grid Wrap */
.gridWrap img {
  max-width: 100%;
}

.gridWrap {
  display: grid;
  grid-gap: 50px;
}

/* Frontend Grid*/
.frotend {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

/* Showcase carousel */
.showcase {
  @extend %flex;
  grid-column: span 3;
  grid-row: span 2;
  min-height: 400px;
  background-color: $blackl;
  box-shadow: var(--shadow);
}

.showcaseTxt{
  @extend %flex;
  align-items: start;
  padding: 3rem;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  // top: 0;
  // bottom: 0;
}

.showcaseTxt h1 {
  @extend %sc_h1;
  color: var(--light);
}

.showcaseTxt p {
  @extend %sc_p;
  color: var(--light);
}
.showcaseTxt .btn{
  animation: pulse_w 5s ease-in-out infinite;
}

@keyframes pulse_w {
  0% {
    -moz-box-shadow: 0 0 0 0 $whited3;
    box-shadow: 0 0 0 0 $whited3;
  }
  30% {
    -moz-box-shadow: 0 0 0 0 $whited;
    box-shadow: 0 0 0 0 $whited;
  }
  100% {
      -moz-box-shadow: 0 0 0 10px $whited3;
      box-shadow: 0 0 0 10px $whited3;
  }
}

.showcaseImg img{
  opacity:0.4;
}

/* Boxes Front-end*/

.box {
  @extend %box;
  grid-column: span 1;
  background: var(--divbody);
}

.box i{
  color: $prim;
  font-size: 72px;
  margin: 1rem auto;
}

.box i.icon-javascript-alt,
i.icon-sass{
  font-size: 76px;
}


// FULL STACK

.fullstack {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
        "b1 s2 s2 s2"
        "b2 s2 s2 s2"
        "b3 b4 b5 b5";
}

.showcase2 {
  // @extend %flex;
  grid-area: s2;
  min-height: 400px;
  box-shadow: var(--shadow);
  padding: 0;
}

.showcaseTxt2{
  @extend .showcaseTxt;
  align-items: flex-end;
  position: relative;
  background: url("../img/fullstackShowcase.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  // z-index: 1;
}

.showcaseTxt2 h1{
  @extend %sc_h1;
  color: $blackl;
}
.showcaseTxt2 p{
  @extend %sc_p;
  color: $blackl;
}

.showcaseTxt2 .btn{
  animation: pulse_b 5s ease-in-out infinite;
}

@keyframes pulse_b {
  0% {
    -moz-box-shadow: 0 0 0 0 $blackl2;
    box-shadow: 0 0 0 0 $blackl2;
  }
  30% {
    -moz-box-shadow: 0 0 0 0 $blackl1;
    box-shadow: 0 0 0 0 $blackl1;
  }
  100% {
      -moz-box-shadow: 0 0 0 10px $blackl2;
      box-shadow: 0 0 0 10px $blackl2;
  }
}

/* Boxes Full Stack*/

#b1{  grid-area: b1;}
#b2{  grid-area: b2;}
#b3{  grid-area: b3;}
#b4{  grid-area: b4;}
#b5{  grid-area: b5;}

.box1 {
  @extend .box;
  background: var(--dark);
  color: white;
}

.box1 i{
  color: $infl;
  font-size: 72px;
  margin: 1rem auto;
}

.box1 img{
  height: 72px;
  margin: 1rem auto;
}

.box1 h1{
  color: $infl;
  font-size: 64px;
  margin: 1rem auto;
}



/* Media Queries */
@media (max-width: 991px) {
  .frotend {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .fullstack {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
          "s2 s2 s2"
          "s2 s2 s2"
          "b1 b5 b5"
          "b2 b3 b4";
  }

}

@media (max-width: 767px) {
  .frotend {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  .fullstack {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
          "s2 s2"
          "s2 s2"
          "b5 b5"
          "b1 b2"
          "b3 b4";
  }  
  
  .showcase{
    grid-column: 1 / span 2;
  }

  .showcaseTxt h1,
  .showcaseTxt2 h1 {
    font-size: 2.5rem;
  }
}
