@import 'variables';

#sidebar {
  top: 80px;
}

#sidebar .list-group-item, #sidebar.list-group{
  border: none !important;
  font-weight: 600;
  background: $prim3;
  // font-size: 110% !important;
}
// #sidebar a.active {
//   text-decoration: none !important;
//   	border:0 #000 solid !important;
//   	border-right-width:4px !important;
// }

// #sidebar .list-group-item, #sidebar.list-group{
//   border: none !important;
//   font-weight: 600;
  
//   // font-size: 110% !important;
// }