@import 'variables';
@import 'functions';
@import 'projGrid';

#wrapper{
position: relative;
width:100%;
height: 100%;
overflow: hidden;
}

.layer{
position: absolute;
height: 100%;
overflow: hidden;
}

.layer .content-wrap{
position: absolute;
height: 100%;

}

.layer .content-body{
width:25%;
position:absolute;
top:50%;
text-align: center;
transform:translateY(-50%);
color:#222;
}

.layer img{
position: absolute;
width:40%;
top:50%;
left: 50%;
transform:translate(-50%, -50%);
}

.layer p{
    padding: 0 5px;
}

.bottom{
background:#fff;
z-index:1;
}

.bottom .content-body{
right:5%;
}

.bottom h2{
color: $prim;
}

.top{
background:#222;
// color:#fff;
z-index:2;
width:50vw;
}

.top .content-body{
left: 5%;
color:#fff;
}

.top h2{
color: $infl;
}

.handle{
position: absolute;
display: block;
background-color: $inf;
height: 200%;
width: 5px;
top: -50%;
left: 50%;
transform: rotate(30deg);
z-index:3;
}

.skewed .top{
transform: skew(-30deg);
margin-left:-500px; //to hide left skewed side of the top layer (30degs)
// width: calc(50% + 1000px); //not needed
}

.skewed .top .content-wrap{
transform: skew(30deg);
margin-left:500px;
}
.span2{
    display: none;
}

@media (max-width: 450px) {
    .layer p {
      display: none;
    }
    .span1{
      display: none;
    }
    .span2{
        display: inherit;
    }
    .layer h2{
        font-size: 1.5rem;
        text-transform: uppercase;
    }
    .showcaseTxt h1{
        font-size: 2rem;
    }

}
