@import 'variables';
@import 'functions';
@import 'footer';

// Variable Overrides from Bootsrtap
$theme-colors: (
  "primary": $prim,
  "info" : $inf
);
$body-bg: $prim3;

// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";

body{
  font-size:100%;
  // line-height: 1.6;
  // min-width: 580px;
  font-family: 'Lato', sans-serif;
  padding-top: 60px;
}

a.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

.main-col{
  margin: 0;
  padding: 0;
}

.sideNav{
  padding: 0 30px 0 0;
}

.nav-link{
  color: $whited !important;
}
.nav-link:hover{
  color: #fff !important;
}

nav{
  border-bottom: solid $brd 2px !important;
  margin-bottom: 2px;
}

.jumbotron{
  border-top: 2px solid $brd;
}
.btn{
  border-bottom: solid $brd 2px !important;
}

@media(max-width:991px){
  .nav-link{
    font-size: 120%;
    line-height: 180%;
  }
}