@import 'variables';
@import 'functions';
@import 'footer';

// Variable Overrides 
$theme-colors: (
  "primary": $prim,
  "info" : $inf
);
$body-bg: $prim3;

// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";

body{
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  padding-top: 60px;
}

nav{
  border-bottom: solid $brd 2px !important;
  // margin-bottom: 2px;
}

.card, .jumbotron, .box, .box1{
  border: none !important;
  box-shadow: $shadow;
}

a.anchor {
  display: none;
  position: relative;
  top: -80px;
  // visibility: hidden;
}

.btn{
  border-bottom: solid $brdl 2px !important;
}

@media(max-width:767px){
  body{
    font-size: 70%;
  }
  .nav-link{
    font-size: 1rem;
  }
  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 1.5rem;
  }
  // h3{
  //   font-size: 1.3rem;
  // }
  h4{
    font-size: 1.2rem;
  }
  h5{
    font-size: 1rem;
  }
}

@media(max-width:575px){
  .follow1 i{
    font-size: 2rem;
  }
}